body {
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

.heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px;
    padding: 24px 48px;
    background-color: #eeeeee;
}

.logo {
    align-self: center;
}

.menu-links {
    list-style-type: none;
    display: flex;
    justify-content: content;
    align-items: center;
    gap: 15px;
    font-size: 18px;
}

.menu-links a {
    text-decoration: none;
    color: black;
}

.hero-section {
    background-color: #eeeeee;
    height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.hero-text {
    font-size: 54px;
    font-weight: 800;
    margin: 0px
}

.left-hero {
    width: 500px;
    padding-right: 50px;
    flex-shrink: 1;
}

button {
    transition: all .5s ease;
    color: #fff;
    border: 3px solid #3882F6;
    text-transform: uppercase;
    text-align: center;
    line-height: 1;
    font-size: 17px;
    background-color: #3882F6;
    padding: 10px;
    outline: none;
    border-radius: 25px;
}

body .hero-section .story-button {
    transition: all .5s ease;
    color: #fff;
    border: 3px solid lightgreen;
    text-transform: uppercase;
    text-align: center;
    line-height: 1;
    font-size: 17px;
    background-color: lightgreen;
    padding: 10px;
    outline: none;
    border-radius: 25px;
}

.right-hero {
    flex-shrink: 1;
}

.homepage-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 300px;
    height: 400px;
}

.homepage-2 h2 {
    font-size: 36px;
    padding: 20px 0px;
}

.flex-container-icons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
}

.flex-item-icons {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    width: 200px;
    flex: 1;
}

.home-icon {
    padding: 10px 10px;
    width: 100px;
    height: auto;
}

.flex-item-icons p {
    text-align: center;
}

.homepage-3 {
    height: 400px;
    padding: 100px 300px 0px;
    background-color: #eeeeee;
    display: flex;
    flex-direction: column;
}

blockquote {
    font-size: 36px;
    font-family: 'Open Sans';
    color: #1F2937;
    font-weight: 100;
    font-style: italic;
}

.homepage-3 p {
    font-size: 24px;
    font-weight: 800px;
    align-self: flex-end;
    margin: 0px 75px;
    font-family: 'Open Sans';
    font-weight: 800;
}

.homepage-4 {
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cta-box {
    width: 850px;
    height: 150px;
    background-color: #3882F6;
    border-radius: 25px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.cta-box .left-cta h2 {
    padding: 0px 0px 5px;
    margin: 0px;
    font-weight: 800;
}

.cta-box .left-cta p {
    padding: 0px;
    margin: 0px;
    font-size: 14px;
    font-weight: 100;
}

.right-cta button {
    transition: all .5s ease;
    color: #fff;
    border: 3px solid white;
    text-transform: uppercase;
    text-align: center;
    line-height: 1;
    font-size: 17px;
    background-color: transparent;
    padding: 10px;
    outline: none;
    border-radius: 4px;
}

.right-cta button:hover {
    color: #001F3F;
    background-color: #fff;
}
